#body{
    /*margin-left: 500px;*/
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background-image: url("http://orig08.deviantart.net/d9f5/f/2012/303/4/a/bomberman_brings_the_boom_by_aibryce-d5jgv0d.jpg");
    background-size: cover;
    background-position: center;
}
#gameBoard{
    width: 55%;
    height: auto;
    position: relative;
    display: inline-block;
    border: solid brown 10px;
    box-sizing: border-box;
    padding-right: 0;
    /*background-color: green;
    bottom: px;*/
}
div div{
    width: 12.24%;
    height: 90px;
    background-color: gray;
    display: inline-block;
    border: solid brown 1px;
    opacity: 0.77;
}
.player1{
    background-color: white;
    background-image: url("images/chara_bomb.png");
    background-size: cover;
    background-position: center;
    /* border-radius: 75px;*/
}
.player2{
    background-color: black ;
    background-image: url("images/chara_pink.png");
    background-size: cover;
    background-position: center;
}
/********* STATS CONTAINER CSS*********/
#stats{
    width: 30%;
    height: 700px;
    background-color: black;
    border: solid red 2px;
    display: inline-block;
    position: relative;
    bottom: 110px;
    color: white;
    margin-right: 30px;
    opacity: 0.8;
    text-align: center;
}
#stats h3{
    margin-top: 5px;
}
.p1_img{
    background-image: url("images/chara_bomb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:75%;
    height: 150px;
    background-color: black;
    border:solid black 1px ;
}
.p2_img{
    background-image: url("images/chara_pink.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width:75%;
    height: 150px;
    background-color: black;
    border:solid black 1px ;
}
.score-count{
    width: 75%;
    height:auto;
    border: solid black 1px;
    margin-bottom: 5px;
    background-color: transparent;
}
.games-played{
    width: 75%;
    height:80px;
    border: solid black 1px;
    background-color: transparent;
}
.label{
    width: 95%;
    height:25px;
    border: solid black 1px;
    background-color: transparent;
    margin-bottom: 10px;
}
.value{
    width: 95%;
    height:25px;
    border: solid black 1px;
    background-color: transparent;

}
.pass{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    height: 50px;
}
.reset{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    height: 50px;
}
.reset:focus{
    outline:0;
}
/********INSOO CSS*************/
body {
    background: url("images/title123.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw;
}
#header {
    height: 20%;
    margin-top: 3%;
    text-align: center;
}
#title{
    border: 0 solid black;
    background-color: transparent;
}
#title > img {
    height: 22vh;
    width: 56vw;
}
#start {
    text-align: center;
    margin-top: 20%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    height: 100%;
    width: 50%;
    background-color: transparent;
    color: white;
    font-size: 5em;
    font-family: 'Press Start 2P', cursive;
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#start > .btn {
    font-size: 5rem;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#start > .btn:focus {
    display: none;
}
#start > .btn:hover {
    color: red;
}
/********* WINNING MODAL CSS*********/
#won_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
#won_wrapper {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background: black;
    color: lightyellow;
    padding: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid lightyellow;
    box-shadow: 0 2px 15px rgba(0,0,0,0.6),
    inset 0 2px 50px rgba(0,0,0,0.6);
    display:none;
}
#won_wrapper {
    text-align: center;
}