
body{
    /*margin-left: 500px;*/
    position: relative;

}

#gameBoard{
    width: 55%;
    height: auto;
    position: relative;
    display: inline-block;
    border: solid brown 5px;
}
div div{
    width: 11%;
    height: 95px;
    background-color: green;
    display: inline-block;
    border: solid black 1px;
}
.player1{
    background-color: black;
}
.player2{
    background-color: white;
}

#stats{
    width: 30%;
    height: 800px;
    background-color: blue;
    border: solid black 1px;
    display: inline-block;


#gameBoard{
    width: 800px;
    height: 800px;
}
div div{
    height: 95px;
    width: 95px;
    background: yellow;
    display: inline-block;
    border: solid black 2px;
}
.player1{
    background: white;
}
.player2{
    background: green;

}